<div class="comment-area-title mt-5">コメント</div>
 <div class="media-list mt-4">
    <% @comments.each do |comment| %>
        <div class="media media-comment">
	        <div class="media-left">
	            <%if comment.user.image.attached?%>
                    <%= image_tag comment.user.image,class:"comment-user-img mr-2" %>
                <% else %>
                    <img src="../assets/user-image.png" class="comment-user-img">
                <% end %>
	        </div>
	        <div class="media-body">
		        <h5 class="media-heading"><%= link_to"#{comment.user.name}", "/users/#{comment.user.id}" ,style:"color: #00CCCC;"%></h5>
			        <div class="comment-content">
			            <%= comment.content %>
			        </div>
		        <div class="text-right">
		            <%= "#{time_ago_in_words(comment.created_at)}前"%>
                    <% if comment.user.id == current_user.id %>
                        <%= link_to("編集", "/posts/#{@post.id}/comments/#{comment.id}/edit",id:"comment-edit",remote: true) %>
                        <%= link_to("削除", "/posts/#{@post.id}/comments/#{comment.id}",method: :delete ,id:"comment-destroy",remote: true) %>
                    <% end %>
                </div>
	        </div>
        </div>
    <% end %>
    <div class="pagenation">
        <%= paginate @comments%>
    </div>
</div>

