  <div class="text-center mt-5 mb-5">
      <div class="form-wrapper pt-5 pb-5">  
        <h4 div class="form-title mb-3">ログイン</h4>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field form-group">
            <%= f.label :"メール" ,class:"form-text"%><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control-sm"%>
          </div>
        
          <div class="field form-group">
            <%= f.label :"パスワード" ,class:"form-text"%><br />
            <%= f.password_field :password, autocomplete: "current-password" ,class:"form-control-sm"%>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="field form-group">
              <%= f.check_box :remember_me,class:"form-check_box" %>
              <%= f.label :"このユーザーを覚える" ,class:"form-text"%>
            </div>
          <% end %>
        
          <div class="actions">
            <%= f.submit "ログイン" ,class:"btn btn-info mb-4"%>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>    
  </div>