<p>
    <div class="follow-btn-wrapper text-center">    
        <% if current_user && @user.id == current_user.id && !Relationship.find_by(follower_id: current_user.id,followed_id: @user.id) %>
             <%= link_to "マイページ","/users/#{@user.id}" ,class:"btn btn-info btn-block"%>
        <% elsif current_user && @user.id != current_user.id && Relationship.find_by(follower_id: current_user.id,followed_id: @user.id) %>
            <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),remote: true,html: { method: :delete }) do |form| %>
                <%= form.submit "フォロー中", class: "btn btn-info btn-block" %>
            <% end %>
        <% else %>
           <%= form_with(model: Relationship.new(follower_id: current_user&.id, followed_id: @user.id),remote: true) do|form| %>
                <%= hidden_field_tag :followed_id, @user.id %>
                <%= form.submit "フォロー", class: "btn btn-info btn-block btn-outline-info" %>
            <% end %>
        <% end %>  
    </div>
</p>
<div class="d-flex justify-content-center">
    <div class="text-info font-weight-bold m-1">フォロー
        <%= @post.user.following.count %>
    </div>
    <div class="text-info font-weight-bold m-1">フォロワー
        <%= @post.user.followers.count %>
    </div>
    <div class="text-info font-weight-bold m-1">釣果
        <%= @post.user.posts.count %>
    </div>
</div>