<div class="card mx-2 <%= "noborder" unless border %>">
    <div class="text-center"%>
        <% if user.image.attached? %>
            <%=link_to image_tag(user.image,class:"mt-1",style:"width: 150px; height: 150px; border-radius: 50%;"),"/users/#{user.id}" %>
        <% else %>
            <%= link_to "/users/#{user.id}" do %>
                <img src="/assets/user-image.png" class="mt-1" style="width: 150px; height: 150px; border-radius: 50%">
            <% end %>
        <% end %>
    </div>
    <div class="p-2">
        <h5 class="text-center font-weight-bold"><%= link_to"#{user.name}","/users/#{user.id}" ,class:"text-info" %></h5>
        <p class="card-text text-center">
             <% if user.address? %>
                <div class="text-info font-weight-bold text-center">
                    <%= user.address %>
                </div>
            <% else %>
                <div class="text-secondary text-center font-weight-bold">
                    未設定
                </div>
            <% end %>
            
            <% if user.introduce? && introduction %>
                <div class="user-introduce text-center" style="overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">
                    <%= user.introduce %>
                </div>
            <% else %>
                <div class="text-secondary text-center">
                    まだ自己紹介がありません
                </div>
            <% end %>
            
        </p>
        
        <div class="text-center">    
            <% if current_user && user.id == current_user.id && !Relationship.find_by(follower_id: current_user.id,followed_id: user.id) %>
               <div class="btn-sm btn-info btn-block font-weight-bolds" %>
                   <%= link_to "マイページ","/users/#{user.id}" ,style:"color: white;"%>
               </div>
            <% elsif current_user && user.id != current_user.id && Relationship.find_by(follower_id: current_user.id,followed_id: user.id) %>
                <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),html: { method: :delete }) do |form| %>
                    <%= form.submit "フォロー中", class: "btn-sm btn-info btn-block font-weight-bold" %>
                <% end %>
            <% else %>
               <%= form_with(model: Relationship.new(follower_id: current_user&.id, followed_id: user.id) ) do|form| %>
                    <%= hidden_field_tag :followed_id, user.id %>
                    <%= form.submit "フォロー", class: "btn-sm btn-outline-info btn-block font-weight-bold" %>
                <% end %>
            <% end %>    
        </div>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <div class="text-info font-weight-bold m-1">フォロー
            <%= user.following.count %>
        </div>
        <div class="text-info font-weight-bold m-1">フォロワー
            <%= user.followers.count %>
        </div>
        <div class="text-info font-weight-bold m-1">釣果
            <%= user.posts.count %>
        </div>
    </div>
</div>