<div class="media-list m-4">
    <% @comments.each do |comment| %>
    <% post = Post.find_by(id: comment.post_id) %>
        <%= link_to "/posts/#{post.id}" do %>
	        <div class="border-top">
	            <div class="media my-3">
    		        <div class="media-left">
    		            <% if comment.user.image.attached?%>
                            <%= image_tag comment.user.image, style:"width: 50px; height: 50px; border-radius: 50%;"%>
                        <% else %>
                            <img src="/assets/user-image.png" style="width: 50px; height: 50px; border-radius: 50%;">
                        <% end %>
    		        </div>
    		        <div class="media-body">
    			        <h5 class="media-heading text-info font-weight-bold"><%= comment.user.name %></h5>
    			        <div class="ml-5 text-secondary">
    			            <%= comment.content %>
    			        </div>
    		        </div>
		        </div>
	        </div>
        <% end %>
    <% end %>
</div>
<% if @user.comments.empty? %>
    <h5 class="text-secondary text-center font-weight-bold my-5">
        コメントがありません
    </h5>
<% end %>
<div class="pagenation">
    <%= paginate @comments %>
</div>