<div class="row no-gutters my-4">
    <div class="col-12 col-lg-4 text-center">
        <%= render "users/card" ,user: @user, introduction: false %>
        <div class="btn text-secondary" data-toggle="modal" data-target="#img_edit"><i class="fas fa-user-edit"></i></i>プロフィール画像編集</div>
    </div>
    
    <div class="col-12 col-lg-4"> 
        <div class="m-3">
            <div class="text-info font-weight-bold">自己紹介</div>
            <% if @user.introduce?%>
                <%= @user.introduce %>
            <% else %>
                まだ自己紹介がありません
            <% end %>
            <% if current_user && @user.id == current_user.id %>
                <%= link_to"/users/edit" do %>
                <div>
                    <i class="fas fa-cog"></i>ユーザー情報設定
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
    
    <div class="col-12 col-lg-4">
        <div class="text-center text-info font-weight-bold">
            <%= @user.name %>さんの釣果データ
        </div>
        <%= pie_chart @user_data, width: "100%", height: "300px"%>
    </div>
</div>

<%= render "users/bg_modal" %>
<%= render "users/profile_modal" %>