<div class="container">
    <% @users.each do |user| %>
        <div class="card user-index-card mt-1 ml-1 mr-1 mb-1">
            <% if user.image.attached? %>
                <%= image_tag user.image, class:"card-img-top user-card-img mx-auto mt-3 mb-4"%>
            <% else %>
                <img src="/assets/user-image.png" class="card-img-top user-card-img mx-auto mt-3 default-img">
                <div class="default-text text-right mr-2">
                    画像が添付されていません
                </div>
            <% end %>
            <div class="card-body">
            <h6 class="card-title text-center card-label"><%= user.name %></h6>
            <p class="card-text text-center">
                <% if user.introduce? %>
                    <%= user.introduce %>
                <% else %>
                    <div class="user-introduce-default text-center">
                        まだ自己紹介がありません
                    </div>
                <% end %>
            </p>
            <div class="follow-btn-wrapper text-center">    
                <% if user.id != current_user.id %>
                    <% if  Relationship.find_by(follower_id: current_user.id,followed_id: user.id) %>
                        <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),local: true,html: { method: :delete }) do |form| %>
                        <%= form.submit "フォロー中", class: " unfollow-btn" %>
                    <% end %>
                <% else %>
                    <%= form_with(model: current_user.active_relationships.build,local: true) do|form| %>
                        <%= hidden_field_tag :followed_id, user.id %>
                        <%= form.submit "フォローする", class: " follow-btn" %>
                        <% end %>
                   <% end %>
                   <p class="text-right">
                       <%= link_to"詳細","/users/#{user.id}",class:"btn-sm btn-info" %>
                   </p>
                <% else %>
                    <p class="text-right">
                        <%= link_to"詳細","/users/#{user.id}",class:"btn-sm btn-info mt-5" %>
                    </p>
                <% end %>
            </div>
          </div>
        </div>
    <% end %> 
</div> 
