<div class="container">
    <div class="row no-gutters">
        <% @users.each do |user| %>
            <div class="col-xs-12 col-md-6 col-lg-3 user-index">
                <div class="card user-card m-1">
                    <% if user.image.attached? %>
                        <%= image_tag user.image, class:"card-img-top user-card-img mx-auto mt-1"%>
                    <% else %>
                        <img src="/assets/user-image.png" class="card-img-top user-card-img mx-auto default-img mt-1">
                    <% end %>
                    <div class="card-body">
                        <h6 class="card-title text-center card-label"><%= link_to"#{user.name}","/users/#{user.id}"%></h6>
                        <p class="card-text text-center">
                             <% if user.address? %>
                                <div class="user-address text-center">
                                    <%= user.address %>
                                </div>
                            <% else %>
                                <div class="text-secondary text-center font-weight-bold">
                                    未設定
                                </div>
                            <% end %>
                            <% if user.introduce? %>
                                <div class="user-introduce text-center">
                                    <%= user.introduce %>
                                </div>
                            <% else %>
                                <div class="user-introduce-default text-center">
                                    まだ自己紹介がありません
                                </div>
                            <% end %>
                        </p>
                        <div class="follow-btn-wrapper text-center">    
                            <% if current_user && user.id == current_user.id && !Relationship.find_by(follower_id: current_user.id,followed_id: user.id) %>
                               <div class="btn-sm btn-outline-info btn-block">自分</div>
                            <% elsif current_user && user.id != current_user.id && Relationship.find_by(follower_id: current_user.id,followed_id: user.id) %>
                                <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),local: true,html: { method: :delete }) do |form| %>
                                    <%= form.submit "フォロー中", class: "btn btn-info btn-block" %>
                                <% end %>
                            <% else %>
                               <%= form_with(model: Relationship.new(follower_id: current_user&.id, followed_id: user.id),local: true) do|form| %>
                                    <%= hidden_field_tag :followed_id, user.id %>
                                    <%= form.submit "フォロー", class: "btn-sm btn-outline-info btn-block" %>
                                <% end %>
                            <% end %>    
                        </div>
                        
                        <div class="user-status-summary text-center mt-1">
                            <div class="summary-item">
                                <div class="summary-title">フォロー</div>
                                <%= user.following.count %>
                            </div>
                            <div class="summary-item">
                                <div class="summary-title">フォロワー</div>
                                <%= user.followers.count %>
                            </div>
                            <div class="summary-item">
                                <div class="summary-title">釣果</div>
                                <%= user.posts.count %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %> 
    </div>
</div> 
<% if @users.empty? %>
    <div class="when-not-text-follow text-center">
        <%= @when_not_text %>
    </div>
<% end %>
<div class="pagenation">
    <%= paginate @users%>
</div>

