<div class="user-tab-list text-center mt-5">
    <%= link_to "/users/#{@user.id}",class:"decoration-none" do %>
        <div class="user-tab-title active" style="color: #FFF;">
            <div class="tab-title">釣果</div>
            <div class="badge badge-light"><%= @user_posts_count %></div>
        </div>
    <% end %>
    <%= link_to "/users/#{@user.id}/likes" do %>
        <div class="user-tab-title"  style="color: #FFF;">
            <div class="tab-title">いいね</div>
            <div class="badge badge-light"><%= @user_likes_count %></div>
        </div>
    <% end %>
    <%= link_to "/users/#{@user.id}/comments" do %>
        <div class="user-tab-title"  style="color: #FFF;">
            <div class="tab-text">コメント</div>
            <div class="badge badge-light"><%= @user_comments_count %></div>
        </div>
    <% end %>
</div>