<div class="user-header">
    <div class="user-status pt-3 pb-3 row no-gutters">
        <div class="col-xs-12 col-md-2 text-center">
            <div class="user-img-area">
                <% if @user.image.attached? %>
                    <%= image_tag @user.image,class:"user-image"%>
                <% else %>
                    <img src="/assets/user-image.png" class="user-image default-img">
                <% end %>
                <% if @user.id == current_user.id %>
                    <div class="profile-img-edit" data-toggle="modal" data-target="#img_edit">設定</div>
               <% end %>
            </div>
        </div>
        <div class="col-xs-12 col-md-2 col-md-offcet-2 user-name-area text-center">
            <div class="user-name mr-5"><%= @user.name %></div>
                <% if @user.id != current_user.id %>
                    <% if  Relationship.find_by(follower_id: current_user.id,followed_id: @user.id) %>
                        <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),local: true,html: { method: :delete }) do |form| %>
                        <%= form.submit "フォロー中", class: " unfollow-btn-lg" %>
                    <% end %>
                <% else %>
                    <%= form_with(model: current_user.active_relationships.build,local: true) do|form| %>
                        <%= hidden_field_tag :followed_id, @user.id %>
                        <%= form.submit "フォローする", class: " follow-btn-lg" %>
                        <% end %>
                   <% end %>
                <% end %>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offcet-2 text-center">
            <% @user ||= current_user %>
            <div class="follow-group">
                <%= link_to("/users/#{@user.id}/following") do %>
                    <div class="header-follow-text mr-5">
                        フォロー <%= @user.following.count %>
                    </div>
                <% end %>
                <%= link_to("/users/#{@user.id}/followers") do %>
                    <div class="header-follow-text">
                        フォロワー <%= @user.followers.count %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="img_edit" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">プロフィール画像編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with(model: @user,url:"/users/profile.img/edit",local: true ,method: :post) do |form| %>
                
                <img src="" class="img-preview">
                <% if @user.image.attached? %>
                    <div class="form-text">現在の画像</div>
                    <%= image_tag @user.image,class:"img-preview" %>
                <% end %>
                
                <div class="field form-group" onchange="previewFile()">
                    <%= form.file_field :image ,class:"image ",id:"file" ,class:"form-control-file mt-3" %>
                </div>
                 <div class="modal-footer">
                    <div class="actions">
                        <%= form.submit "編集する" ,class:"btn btn-info mb-4"%>
                    </div>
                </div>
          <% end %>
      </div>
    </div>
  </div>
</div>