<div class="page-title ml-4 mt-4"><%= @title %></div>
<%= render partial: 'users_header'%>
      
      <div class="user-content row">
       <div class="col-3 text-center mt-5">
           <%= render partial: 'users_status'%>
       </div> 
        <div class="col-9">
        <div class="title-list">
            <%= link_to "/users/#{@user.id}",class:"decoration-none" do %>
                <div class="user-post-title mb-4 ml-1">
                    釣果
                    <div class="badge badge-light"><%= @user_posts_count %></div>
                </div>
            <% end %>
            <%= link_to "/users/#{@user.id}/likes" do %>
                <div class="user-post-title mb-4 ml-1">
                    いいね
                    <div class="badge badge-light"><%= @user_likes_count %></div>
                </div>
            <% end %>
            <%= link_to "/users/#{@user.id}/comments" do %>
                <div class="user-post-title active mb-4 ml-1">
                    コメント
                    <div class="badge badge-light"><%= @user_comments_count %></div>
                </div>
            <% end %>
        </div>
        <%= render "comments" %>
            <% if @comments.empty? %>
                <div class="when-not-text">
                    <%= @when_not_text %>
                </div>
            <% end %>
            <div class="pagenation">
                <%= paginate @comments%>
            </div>
        </div>
    </div>
 
    