<div class="page-title ml-4 mt-4"><%= @title %></div>
<%= render "bg" %>
<div class="row">
    <div class="col-12 col-lg-8 col-lg-offset-4 mx-auto">
        <%= render  'header'%>
        <%= render "status" %>
        <%= render "tab" %>
        <%= render "comments" %>
        <% if @user.comments.empty? %>
            <div class="when-not-text">
                <%= @when_not_text %>
            </div>
        <% end %>
        <%= render partial: "map" %>
    </div>
</div>

 
    