<div class="text-center user-index-title mb-3"><%= @title %></div>

<div class="text-center mt-5 mb-5">
    <%= form_with url:'/users/search', method: :get, local: true do |form| %>
        <div class="search-form">
          <%= form.text_field :search ,class:"form-control",placeholder: "名前で検索"%>
        </div>  
      <%= form.submit '検索' ,class:"btn btn-info ml-3 mb-1" %>
    <% end %>
</div>

<div class="container">
    <% @users.each do |user| %>
        <div class="card user-index-card mt-1 ml-1 mr-1 mb-1">
            <% if user.image.attached? %>
                <%= image_tag user.image, class:"card-img-top user-card-img mx-auto mt-3 mb-4"%>
            <% else %>
                <img src="../assets/user-image.png" class="card-img-top user-card-img mx-auto mt-3 default-img">
                <div class="default-text text-right mr-2">
                    画像が添付されていません
                </div>
            <% end %>
            <div class="card-body">
            <h6 class="card-title text-center card-label"><%= user.name %></h6>
            <p class="card-text text-center">
                <% if user.introduce? %>
                    <%= user.introduce %>
                <% else %>
                    <div class="user-introduce-default text-center">
                        まだ自己紹介がありません
                    </div>
                <% end %>
            </p>
            <div class="text-right">
                <%= link_to"詳細","/users/#{user.id}",class:"btn-sm btn-info" %>
            </div>
          </div>
        </div>
    <% end %> 
</div> 


