<div class="text-center user-index-title mb-3"><%= @title %></div>

<div class="text-center mt-5 mb-5">
    <%= form_with url:'/users/search', method: :get, local: true do |form| %>
        <div class="search-form">
          <%= form.text_field :search ,class:"form-control",placeholder: "名前で検索"%>
        </div>  
      <%= form.submit '検索' ,class:"btn btn-info ml-3 mb-1" %>
    <% end %>
</div>

<%= render partial: 'index'%>

