
<div class="search-bg-area mb-3">
    <img src="../assets/search-bg.jpg">
    <div class="form-group text-center mt-5 mb-5">
        <%= form_with url:'/users/search', method: :get, local: true do |form| %>
            <div class="search-form">
              <%= form.text_field :search ,class:"form-control",placeholder: "名前で検索"%>
            </div>  
          <%= form.submit '検索' ,class:"btn btn-info ml-3 mb-1" %>
        <% end %>
    </div>
</div>

<div class="text-center index-title mb-3"><%= @title %></div>
<%= render "users_index" %>

<div class="pagenation">
    <%= paginate @users %>
</div>