<div class="page-title ml-4 my-3"><%= @title %></div>
<%= render "bg" %>
<div class="row no-gutters">
    <div class="col-12 col-lg-8 col-lg-offset-4 mx-auto">
        <%= render  'header'%>
        <%= render "status" %>
        <%= render "tab" %>
        <%= render "posts/index" %>
        <%= render partial: "map" %>
    </div>
</div>
    