
      <div class="user-header">
           <div class="user-status">
              <div class="user-image-area">
                  <% if @user.image.attached? %>
                      <%= image_tag @user.image,class:"user-image mt-2 mb-2 ml-2 "%>
                  <% else %>
                      <img src="../assets/user-image.png" class="user-image mt-2 mb-2 ml-2">
                  <% end %>      
              </div>
              <div class="user-name"><%= @user.name %></div>
          </div>
      </div>
      
      <div class="user-content row">
        <div class="col-3 text-center mt-5">
            <div class="user-info">
                <div class="user-introduce mt-3 ml-3 mr-3">
                     <div class="introduce-title">自己紹介</div>
                     <div class="introduce-content mt-3">
                        <% if @user.introduce?%>
                            <%= @user.introduce %>
                        <% else %>
                            <div class="user-introduce-default">
                                まだ自己紹介がありません
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="user-area mb-3">
                    <div class="area-title mt-3">活動エリア</div>
                    <div class="area mt-3">兵庫県</div>
                </div>
                <% if @user.id == current_user.id %>
                    <%= link_to"ユーザー情報編集","/users/edit"%>
                <% end %>
            </div>
        </div> 
          
        <div class="col-9">
            <div class="user-post-title mb-4 ml-1">
                <%= @user.name%>さんの釣果
            </div>
            <div class="container user-post">
                 <% @user.posts.each do |post| %>
                    <div class="card mt-1 ml-1 mr-1 mb-1">
                        <% if post.image.attached? %>
                            <%= image_tag post.image,class:"card-img-top post-card-img" %>
                        <% else %>
                            <img src="../assets/sakana-img.jpg" class="card-img-top post-card-img">
                        <% end %>
                          <div class="card-body">
                            <h6 class="card-title text-center card-label"><%= post.name %></h6>
                            <p class="card-text card-tag">
                                <% if post.description? %>  
                                    <div class="text-center">
                                        <%= post.description %>
                                    </div>
                                <% else %>
                                    <div class="post-description-default text-center">
                                        説明がありません
                                    </div>
                                <% end %>
                            </p>
                                <% if post.feed? %>
                                    <div class="badge badge-info">
                                        餌: <%= post.feed %>
                                    </div>
                                <% end %>
                                <% if post.weather? %>
                                    <div class="badge badge-info">
                                        天気: <%= post.weather %>
                                    </div>
                                <% end %>
                                <% if post.number? %>
                                    <div class="badge badge-info">
                                        数量: <%= post.number%>
                                    </div>
                                <% end %>
                                 <% if post.date? %>
                                    <div class="badge badge-info">
                                        日時: <%= post.date %>
                                    </div>
                                <% end %>
                                <div class="user-card-bottom mt-3 mr-1">
                                    <div class="post-created_at">
                                        <%= post.created_at %>の投稿
                                    </div>    
                                    <div class="text-right">
                                        <%= link_to "詳細",post%>
                                    </div>
                                </div>
                          </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
 
    