<div class="page-title ml-4 my-3"><%= @title %></div>

<div class="row no-gutters">
    <div class="col-12 col-lg-8 col-lg-offset-4 mx-auto">
        <div class="card">
            <%= render "bg" %>
        </div>
        <div class="card my-3">
            <%= render  'header'%>
        </div>
        <div class="card mb-0" style="border: none;">
            <%= render "tab" %>
        </div>
        <div class="card">
            <%= render partial: "map" %>
        </div>
    </div>
</div>





 
 

    