<div class="page-title ml-4 my-3"><%= @title %></div>

<div class="row no-gutters">
    <div class="col-12 col-lg-8 col-lg-offset-4 mx-auto">
        <div class="card">
            <%= render "bg" %>
            <%= render  'header'%>
            <%= render "tab" %>
            <%= render partial: "map" %>
        </div>
    </div>
</div>





 
 

    