<div class="row no-gutters">
    <% @posts.each_with_index do |post,i| %>
        <div class="col-12 col-md-4 col-lg-3 mt-2">
            <div class="card h-100 m-1">
                <div class="inline-block text-info ml-1">
                    <% if post.user.image.attached? %>
                        <%= link_to image_tag(post.user.image ,class:"rounded-circle",style:"width: 40px; height: 40px;object-fit: cover;"),"/users/#{post.user.id}"%>
                    <% else %>
                        <%= link_to "/users/#{post.user.id}" do %> 
                            <img src="/assets/user-image.png" class="rounded-circle" style="width: 40px; height:40px; object-fit: cover;" >
                        <% end %>
                    <% end %>
                    <span class="font-weight-bold"><%=link_to"#{post.user.name}","/users/#{post.user.id}" ,class:"text-info"%></span>
                    <% if post.user.address %>
                        <span class="font-weight-bold text-info"><%= post.user.address %></div>
                    <% else %>
                        <span class="font-weight-bold text-info">未登録</span>
                    <% end %>
                     <span class="<%= "rank#{i+1}" %> font-weight-bold">
                        <i class="fas fa-crown"></i><%= "#{i+1}位"%>
                    </span>
                </div>
                <% if post.image.attached? %>
                    <%= link_to image_tag(post.image ,class:"card-img-top"),"/posts/#{post.id}" %>
                <% else %>
                    <%= link_to"/posts/#{post.id}" do%>
                        <img src="/assets/sakana-img.jpg" class="card-img-top">
                    <% end %>
                <% end %>
                
                <div class="font-weight-bold text-center">
                    <%= link_to "#{post.name}","/posts/#{post.id}" ,class:"text-info"%>
                </div>
                
                 <% if post.description? %>  
                    <div class="text-secondary font-weight-bold text-center">
                        <%= post.description %>
                    </div>
                <% else %>
                    <div class="text-secondary font-weight-bold text-center">
                        説明がありません
                    </div>
                <% end %>
                
                <div class="inline-block m-1" style="overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">
                    <% if post.size? %>
                        <div class="badge badge-info size-badge">
                            サイズ: <%= post.size %>cm
                        </div>
                    <% end %>
                    <% if post.feed? %>
                        <div class="badge badge-info">
                            餌: <%= post.feed %>
                        </div>
                    <% end %>
                    <% if post.weather? %>
                        <div class="badge badge-info">
                            天気: <%= post.weather %>
                        </div>
                    <% end %>
                    <% if post.number? %>
                        <div class="badge badge-info">
                            <%= post.number.to_i %>匹
                        </div>
                    <% end %>
                    <% if post.date? %>
                        <div class="badge badge-info">
                            日付: <%= post.date %>
                        </div>
                    <% end %>
                    <% if post.time? %>
                        <div class="badge badge-info">
                            時間: <%= post.time.to_s(:time)%>
                        </div>
                    <% end %>
                    <% if post.address? %>
                        <div class="badge badge-info">
                            場所: <%= post.address%>
                        </div>
                    <% end %>
                </div>
                <div class="d-flex justify-content-center">
                    <% if current_user && Like.find_by(user_id: current_user.id, post_id: post.id) %>
                        <div class="my-1 mx-2 text-danger">
                            <% @likes_count = Like.where(post_id: post.id).count %>
                            <i class="fas fa-heart"></i><%= @likes_count %>
                        </div>
                    <% else %>
                        <div class="my-1 mx-2 text-secondary">
                            <% @likes_count = Like.where(post_id: post.id).count %>
                            <i class="fas fa-heart"></i><%= @likes_count %>
                        </div>
                    <% end %>
                    <div class="my-1 mx-2 text-secondary">
                        <% @comments_count = Comment.where(post_id: post.id).count %>
                        <i class="fas fa-comment"></i><%= @comments_count %>
                    </div>
                    <div class="my-1 mx-2 text-secondary">
                        <%= "#{time_ago_in_words(post.created_at)}前"%>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<% if @posts.empty?%>
    <div style="height: 30vh;">
        <h5 class="text-secondary font-weight-bold text-center">
            サイズが登録された釣果がありません
        </h5>
    </div>
<% end %>