<div class="text-center my-5">
  <div class="form-wrapper">
    <h4 class="form-title mb-3"><%= @form_title %></h4>      
    <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% post.errors.full_messages.each do |message| %>
                <div class="form-error-message">
                    <%= message %><br>
                </div>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <img src="" class="img-preview">
    
    <% if @post.image.attached? %>
        <div class="form-text">現在の画像</div>
        <%= image_tag @post.image,class:"post-show-img" ,style:"height:300px";%>
    <% end %>
    
    <div class="field form-group text-left" onchange="previewFile()">
       <div class="form-text mb-3">画像を選択してください</div><br />
       <%= form.file_field :image,class:"image",id:"file" ,class:"form-control-file" %>
    </div>
      
    <div class="field form-group text-left">
        <div class="form-text  mb-3"><span class="badge badge-danger mr-1">※必須</span> 魚種</div><br />
        <%= form.text_field :name,class:"form-control",placeholder:"カタカナで入力して下さい"%>
    </div>
    
    <div class="row no-gutters">
        <div class="field form-group text-left col-6">
            <div class="form-text  mb-3"><span class="badge badge-danger">※必須</span> 数量</div><br />
            <%= form.number_field :number,class:"form-control" ,value:1 %>
        </div>
        <div class="field form-group text-left col-6">
            <div class="form-text  mb-3">サイズ(cm)</div><br />
            <%= form.number_field :size,class:"form-control" %>
        </div>
    </div>
    
     <div class="row no-gutters">
        <div class="field form-group text-left col-6">
            <div class="form-text  mb-3">使った餌</div><br />
            <%= form.select :feed, [["アオイソメ"], ["ゴカイ"],["オキアミ"],["カニ"],["貝"],["配合エサ"],["ミミズ"],["アカムシ"],["練エサ"],["ルアー"],["魚切り身"]],{:prompt => "エサを選択してください"},{class:"form-control"} %>
        </div>
        
        <div class="field form-group text-left col-6">
            <div class="form-text  mb-3">天気</div><br />
            <%= form.select :weather,[["晴れ"], ["曇り"],["雨"],["その他"]],{:prompt => "天気を選択してください"},{class:"form-control"} %>
        </div>
    </div>
    
    <div class="field form-group text-left">
        <div class="form-text  mb-3">日付</div><br />
        <div class= "row no-gutters">
            <%= form.date_select :date ,{}, {class: "form-control col-4"} %>
        </div>
    </div>

    
    <div class="field form-group text-left">
        <div class="form-text  mb-3">時間帯(時)</div><br />
        <%= form.time_select :time ,{}, {class: "form-control"} %>
    </div>
    
    <div class="field form-group text-left">
        <div class="form-text  mb-3">説明</div><br />
        <%= form.text_area :description, rows:3,class:"form-control" %>
    </div>
    
    <div class="field form-group text-left">
        <div class="form-text  mb-3"><span class="badge badge-danger mr-1">※必須</span>住所</div><br />
        <%= form.text_field :address,class:"form-control",id:"address" ,value:"アドレス",placeholder:"住所を入力してください"%>
    </div>
    <div data-toggle="modal" data-target="#modal1" class="btn btn-info mt-3 mb-3">
      <span class="badge badge-danger mr-1">※必須</span>地図で場所を選択する
    </div>
    
    <% if @is_new == "true" %>
        <div class="field">
            <%= form.check_box :share, {} , "true", "false" %>
            <span class="twitter-share font-weight-bold"><i class="fab fa-twitter"></i>Twitterに共有</span>
        </div>
    <% end %>
    
    <%= form.hidden_field :latitude,id:"map_lat" %>
    <%= form.hidden_field :longitude,id:"map_lng" %>
    
    <div class="actions">
        <%= form.submit value="登録する",class:"btn-lg btn-info mt-4 m-4"%>
        </div>
    <% end %>
  </div>    
</div> 

<%= render "select_modal" %>






