<div class="container user-post">
     <% @posts.each do |post| %>
        <div class="card user-post-card mt-1 ml-1 mr-1 mb-1">
            <% if post.image.attached? %>
                <%= image_tag post.image,class:"card-img-top post-card-img" %>
            <% else %>
                <img src="/assets/sakana-img.jpg" class="card-img-top post-card-img default-img">
            <% end %>
              <div class="card-body mt-1">
                <h6 class="card-title text-center card-label"><%= link_to"#{post.name}",post %></h6>
                <p class="card-text card-tag">
                    <% if post.description? %>  
                        <div class="text-center mt-3 mb-3">
                            <%= post.description %>
                        </div>
                    <% else %>
                        <div class="post-description-default text-center mt-3 mb-3">
                            説明がありません
                        </div>
                    <% end %>
                    <% if post.feed? %>
                        <div class="badge badge-info">
                            餌: <%= post.feed %>
                        </div>
                    <% end %>
                    <% if post.weather? %>
                        <div class="badge badge-info">
                            天気: <%= post.weather %>
                        </div>
                    <% end %>
                    <% if post.size? %>
                        <div class="badge badge-info">
                            数量: <%= post.size %>
                        </div>
                    <% end %>
                    <% if post.size? %>
                        <div class="badge badge-info">
                            サイズ: <%= post.size %>cm
                        </div>
                    <% end %>
                    <% if post.number? %>
                        <div class="badge badge-info">
                            数量: <%= post.number %>
                        </div>
                    <% end %>
                    <% if post.date? %>
                        <div class="badge badge-info">
                            日時: <%= post.date %>
                        </div>
                    <% end %>
                    <% if post.address? %>
                        <div class="badge badge-info">
                            場所: <%= post.address%>
                        </div>
                    <% end %>
                </p>
                    <div class="user-card-bottom">
                        <div class="post-created_at">
                            <%= "#{time_ago_in_words(post.created_at)}前"%>
                        </div>  
                    </div>
              </div>
        </div>
    <% end %>
</div>