<div class=" card show-user-card " style="height:auto;">
    <% if @post.user.image.attached? %>
            <%= image_tag @post.user.image, class:" post-user-img"%>
    <% else %>
            <img src="../assets/user-image.png" class="post-user-img">
    <% end %>
    <div class="card-body">
        <h5 class="card-title text-center card-label"><%= link_to "#{@post.user.name}","/users/#{@post.user.id}"%></h5>
        <div class="area text-center"><%= @user.address %></div>
        <p class="card-text text-center">
            <% if @post.user.introduce? %>
                <%= @post.user.introduce %>
            <% else %>
                <div class="user-introduce-default text-center">
                    まだ自己紹介がありません
                </div>
            <% end %>
        </p>
       <div id="follow_buttons_<%= @user.id %>">
           <%= render "relationships/posts" %>
       </div>
    </div>
</div>
