<div class="search-bg-area">
    <img src="../assets/search-bg.jpg">
    <div class="form-group text-center mt-5 mb-5">
        <%= form_with url:'/posts/search_fishing_map', method: :get, local: true do |form| %>
            <div class="search-form">
              <%= form.text_field :search ,class:"form-control" ,placeholder: "魚検索(カタカナ)"  %>
            </div>
          <%= form.submit '検索' ,class:"btn btn-info ml-3 mb-1" %>
        <% end %>
    </div>
</div>

<div class="application-description text-center">
    このページではGoogle Map上で釣果を見ることができます｡どこでどんな魚が釣れているのか確認してみましょう!
</div>

 <div class=" fishing-map" id="map" style='width: 100%; height: 650px;'></div>
 <script type="text/javascript">
            
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers([
                  <% @posts.each do |post| %>
                {
                  "lat": <%= post.latitude %>,
                  "lng": <%= post.longitude %>,
        		  "infowindow": '<p><%= link_to "#{post.user.name}さんの釣果","/users/#{post.user.id}",class:"badge badge-info mx-auto" %></p><br/><% if post.image.attached? %><%= image_tag post.image,class:"map-icon-img " %><br><% else %><img src="../assets/sakana-img.jpg" class="default-img map-icon-img"><% end %><p><div class="text-center"><%= link_to "#{post.name}",post ,class:"map-post-name"%></div></p>',
        		  "picture": {
        		       "url": '<%= asset_path "map-icon.png" %>',
		                "width":  48,
                        "height": 48
                    }
                },
                <% end %>
              ]);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              var latlng = new google.maps.LatLng(<%= @user.latitude %>,<%= @user.longitude %>); 
              <% if @is_search.nil? %>
              handler.getMap().setCenter(latlng);
              <% end %>
              
              handler.getMap().setZoom(8);
            });
 </script>
 
<div class="pagenation">
    <%= paginate @posts %>
</div>



