<div class="search-bg-area">
    <div class="form-group text-center">
        <%= form_with url:'/posts/search_fishing_map', method: :get, local: true do |form| %>
            <div class="search-form">
              <%= form.text_field :search ,class:"form-control" ,placeholder: "魚検索(カタカナ)"  %>
            </div>
          <%= form.submit '検索' ,class:"btn btn-info ml-3 mb-1" %>
        <% end %>
    </div>
</div>

<div class="font-weight-bold text-info text-center my-3" style="font-size: 2.7vmin;">
  <i class="fas fa-map-marker-alt"></i>このページではGoogle Map上で釣果を見ることができます｡どこでどんな魚が釣れているのか確認してみましょう!
</div>

<div class="row">
    <div class="col-12 col-md-9 col-md-offset-3 col-lg-8 col-lg-offset-4 mx-auto">
        <div class=" fishing-map" id="map" style='width: 100%; height: 650px;'></div>
        <script type="text/javascript">
            
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers([
                  <% @posts.each do |post| %>
                {
                  "lat": <%= post.latitude %>,
                  "lng": <%= post.longitude %>,
        		  "infowindow": '<p><%= link_to "#{post.user.name}さんの釣果","/users/#{post.user.id}",class:"badge badge-info mx-auto" %></p><br/><% if post.image.attached? %><%= image_tag post.image,style:"width: 100px;" %><br><% else %><img src="../assets/sakana-img.jpg" style="width: 100px;"><% end %><p><div class="text-center"><%= link_to "#{post.name}",post ,class:"text-info font-weight-bold"%></div></p>',
        		  "picture": {
        		       "url": '<%= asset_path "map-icon.png" %>',
                        "width":  48,
                        "height": 48
                    }
                },
                <% end %>
              ]);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              <% if current_user && @user.address%>
                    var latlng = new google.maps.LatLng(<%= @user.latitude %>,<%= @user.longitude %>); 
              <% else %>
                    var latlng = new google.maps.LatLng(35.593111,139.829865); 
              <% end %>
              <% if @is_search.nil? %>
                  handler.getMap().setCenter(latlng);
              <% end %>
              
              handler.getMap().setZoom(8);
            });
        </script>
    </div>
</div>
 
<div class="pagenation">
    <%= paginate @posts %>
</div>




