<%= link_to :back do %>
    <div class="mt-3 ml-3 back-btn">戻る</div>
<% end %>
<div class="text-center index-title mb-3"><%= @title %></div>
<div class="form-group text-center mt-5 mb-5">
    <%= form_with url:'/posts/search', method: :get, local: true do |form| %>
        <div class="search-form">
          <%= form.text_field :search ,class:"form-control" ,placeholder: "魚検索(カタカナ)"  %>
        </div>
      <%= form.submit '検索' ,class:"btn btn-info ml-3 mb-1" %>
    <% end %>
</div>

<%= render "posts_index" %>

<% if @posts.empty? %>
    <div class="when-not-text">
        <%= @when_not_text %>
    </div>
<% end %>
<div class="pagenation ">
    <%= paginate @posts%>
</div>
