
 <div class="mt-5" id="map" style='width: 100%; height: 500px;'></div>
 <script type="text/javascript">
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers([
                  <% @posts.each do |post| %>
                {
                  "lat": <%= post.latitude %>,
                  "lng": <%= post.longitude %>,
        		  "infowindow": '<div class="map-post-name"><%= post.name %></div><br/><% if post.image.attached? %><%= image_tag post.image,class:"map-icon-img mt-1 mb-1" %><br><% end %><p><%= link_to "詳細" ,post %></p>',
        		  "picture": {
        		       "url": '<%= asset_path "map-icon.png" %>',
		                "width":  48,
                        "height": 48
                    }
                },
                <% end %>
              ]);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(12);
            });
 </script>


