<div class="page-title ml-4 my-4"><%= @title %>の釣果</div>
<div class="row">
    <div class="post-show-user col-xs-12 col-lg-3">
        <%= render "user_card" %>
    </div>
    <div class="col-xs-12 col-lg-9">
        <div class="post-data-area mx-auto">
            <div class="post-show-title mt-5 mb-5 post-name">
                <%= @post.name %>: この魚の難易度: <%= @level ?  @level : "データがありません" %>
            </div>
            <%= render "post_main" %>
            <div id="comment-area_<%= @post.id %>">
                <%= render "comments/index" %>
            </div>
            <%= render "comments/form" %>
            <% if current_user %>
            <%= link_to "/posts/#{@post.id}/comments/new",remote: true do %>
                <div class="text-center">
                    <button class="btn btn-info">コメントする</button>
                </div>
            <% end %>
            <% else %>
                <div class="rounded py-5" style="background: #FFF;">
                    <div class="text-info text-center font-weight-bold">
                        コメントするには<%= link_to "ログイン","/users/sign_in" ,style:"color: #007bff" %>か<%= link_to "新規登録", "/users/sigin_up" ,style:"color:#007bff;" %>が必要です。
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>














