<div class="page-title ml-4 my-4"><%= @title %>の釣果</div>

<div class="row no-gutters">
    <div class="col-11 offset-1 col-lg-10 col-lg-offset-2 ">
        <div class="post-show-title mb-3 text-center">
            <%= @post.name %>: この魚の難易度: <%= @level ?  @level : "データがありません" %>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-lg-3">
                <%= render "user_card" %>
            </div>
            <div class="col-12 col-lg-9">
                <div class="card mx-auto mt-2">
                    <div class="px-5 pb-5">
                        <%= render "img" %>
                        <div class="data-area-title pt-5">
                            投稿のデータ
                        </div>
                        <div id="post-data_<%= @post.id %>">
                            <%= render 'data' %> 
                        </div>
                        <div class="data-area-title mt-5">
                            釣果のデータ
                        </div>
                        <%= render "info" %>
                        <div class="data-area-title mt-5">
                            説明
                        </div>
                        <div class="mt-5">
                            <div>
                                <% if @post.description? %>  
                                    <div class="text-secondary">
                                        <%= @post.description %>
                                    </div>
                                <% else %>
                                    <div class="text-secondary">
                                        説明がありません
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div id="likes_buttons_<%= @post.id %>">
                            <%= render partial: 'likes/like', locals: {post: @post} %>
                        </div>
                         
                        <% if current_user && @post.user.id == current_user.id %>
                            <div class="text-right mb-2">
                                <%= link_to '編集', edit_post_path(@post),class:"btn-sm btn-info" %> 
                                <%= link_to '削除', @post, method: :delete, data: { confirm: '投稿を削除します｡よろしいですか?' },class:"btn-sm btn-danger" %>
                            </div>
                        <% end %>
                        <%= render "map" %>
                        <div class="data-area-title mt-5">
                            <%= @post.name %>のデータ
                        </div>
                        <%= render "graph" %>
                        <div class="text-center">
                            <%= link_to"/ranking/#{@post.id}/fish_size",class:"text-info" do %>
                            <i class="fas fa-crown"></i>この魚のランキングを見る
                            <% end %>
                        </div>
                        <div id="comment-area_<%= @post.id %>">
                            <%= render "comments/index" %>
                        </div>
                        <%= render "comments/form" %>
                        <%= render "comments/btn" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














