<div class="page-title ml-4 mt-4 mb-4"><%= @title %>の釣果</div>
<div class="row">
    <div class="post-show-user col-xs-12 col-md-3">
        <div class=" card show-user-card " style="height:auto;">
            <% if @post.user.image.attached? %>
                    <%= image_tag @post.user.image, class:" post-user-img"%>
            <% else %>
                    <img src="../assets/user-image.png" class=" post-user-img">
            <% end %>
            <div class="card-body">
                <h5 class="card-title text-center card-label"><%= link_to "#{@post.user.name}","/users/#{@post.user.id}"%></h5>
                <div class="area text-center"><%= @user.address %></div>
                <p class="card-text text-center">
                    <% if @post.user.introduce? %>
                        <%= @post.user.introduce %>
                    <% else %>
                        <div class="user-introduce-default text-center">
                            まだ自己紹介がありません
                        </div>
                    <% end %>
                </p>
                <p>
                    <div class="follow-btn-wrapper text-center">    
                        <% if @post.user.id != current_user.id %>
                            <% if  Relationship.find_by(follower_id: current_user.id,followed_id: @post.user.id) %>
                                <%= form_with(model: current_user.active_relationships.find_by(followed_id: @post.user.id),local: true,html: { method: :delete }) do |form| %>
                                <%= form.submit "フォロー中", class: " unfollow-btn" %>
                            <% end %>
                        <% else %>
                            <%= form_with(model: current_user.active_relationships.build,local: true) do|form| %>
                                <%= hidden_field_tag :followed_id, @post.user.id %>
                                <%= form.submit "フォローする", class: " follow-btn" %>
                                <% end %>
                           <% end %>
                        <% end %>
                    </div>
                </p>
                <p>
                    <div class="user-status-summary text-center">
                        <div class="summary-item">
                            <div class="summary-title">フォロー</div>
                                <%= @post.user.following.count %>
                            </div>
                        <div class="summary-item">
                            <div class="summary-title">フォロワー</div>
                                <%= @post.user.followers.count %>
                            </div>
                        <div class="summary-item">
                        <div class="summary-title">釣果</div>
                            <%= @post.user.posts.count %>
                        </div>
                    </div>
                </p>
           </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-md-9">
        <div class="post-data-area mx-auto">
            <div class="post-show-title mt-5 mb-5">
                <%= @post.name %>: この魚の難易度: <%= @level ?  @level : "データがありません" %>
            </div>
                <div class ="post-main pt-5 pl-5 pb-5">
                    <% if @post.image.attached? %>
                        <%= image_tag @post.image,class:"post-show-img mx-auto"%>
                    <% else %>
                        <img src="../assets/sakana-img.jpg" class=" post-show-img default-img mx-auto">
                    <% end %> 
                    <div class="data-area-title pt-5">
                        投稿のデータ
                    </div>
                    <ul class="post-data-list mt-5">
                        <li class="like-icon ml-5"><i class="fas fa-heart"> <%= @likes_count %></i></li>
                        <li class="comment-icon ml-5"><i class="fas fa-comment"> <%= @comments_count %></i></li>
                        <li class="post-created_at ml-5"><%= "#{time_ago_in_words(@post.created_at)}前"%></li>
                    </ul>
                    <div class="data-area-title mt-5">
                        釣果のデータ
                    </div>
                    <table class="post-data-list mt-5 ml-5">
                        <tr>
                        <th class="pr-5 pt-3">サイズ</th>
                        <% if @post.size? %>
                           <td class="pt-3"><%= @post.size %>cm</td>
                        <% end %>
                        </tr>
                        <tr>
                        <th class="pr-5 pt-3">数量(匹)</th>
                        <% if @post.number? %>
                           <td class="pt-3"><%= @post.number %>匹</td>
                        <% end %>
                        </tr>
                        <tr>
                        <th class="pr-5 pt-3">日付</th>
                        <% if @post.date? %>
                           <td class="pt-3"><%= @post.date %></td>
                        <% end %>
                        </tr>
                        <tr>
                        <th class="pr-5 pt-3">時間</th>
                        <% if @post.time? %>
                           <td class="pt-3"><%= @post.time.to_s(:time)%></td>
                        <% end %>
                        </tr>
                        <tr>
                        <th class="pr-5 pt-3">使った餌</th>
                        <% if @post.feed?%>
                           <td class="pt-3"><%= @post.feed %></td>
                        <% end %>
                        </tr>
                         <tr>
                        <th class="pr-5 pt-3">天気</th>
                        <% if @post.weather? %>
                           <td class="pt-3"><%= @post.weather %>cm</td>
                        <% end %>
                        </tr>
                    </table>
                    <div class="data-area-title mt-5">
                        説明
                    </div>
                        <ul class="post-data-list mt-5">
                            <li>
                                <% if @post.description? %>  
                                    <div class="post-show-description">
                                        <%= @post.description %>
                                    </div>
                                <% else %>
                                    <div class="post-description-default text-center default-text">
                                        説明がありません
                                    </div>
                                <% end %>
                            </li>
                        </ul>
                    <div class="data-area-title mt-5">
                        釣れた場所: <%= @post.address %>
                    </div>
                        <div class="post-map-area mb-4 pt-4">
                            <div id="map" style='width: 95%; height: 500px;'></div>
                            <script type="text/javascript">
                            handler = Gmaps.build('Google');
                            handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
                              markers = handler.addMarkers([
                                {
                                  "lat": <%= @post.latitude %>,
                                  "lng": <%= @post.longitude %>,
                            	  "infowindow": '<%= @post.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@post.latitude},#{@post.longitude}&iwloc=J",target: "_blank" ,class:"gmap-link"%></p>',
                            	  "picture": {
                            	       "url": '<%= asset_path "map-icon.png" %>',
                                        "width":  48,
                                        "height": 48
                                    }
                                }
                              ]);
                              handler.bounds.extendWith(markers);
                              handler.fitMapToBounds();
                              handler.getMap().setZoom(17);
                            });
                            </script>
                        </div>
                        
                    <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
                        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
                            <div class="text-right like-btn-wrapper">
                                <span class="fa fa-heart like-btn-unlike mr-5 mb-3"></span>
                            </div>
                        <% end %>
                    <% else %>
                        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
                            <div class="text-right like-btn-wrapper">
                                <span class="fa fa-heart like-btn mr-5 mb-3"></span>
                            </div>
                        <% end %>
                    <% end %>
                     
                    <% if @post.user.id == current_user.id %>
                        <div class="post-btn-area text-right mb-2 mr-5">
                            <%= link_to '編集', edit_post_path(@post),class:"btn-sm btn-info" %> 
                            <%= link_to '削除', @post, method: :delete, data: { confirm: 'Are you sure?' },class:"btn-sm btn-danger" %>
                        </div>
                    <% end %>
                    <div class="data-area-title mt-5">
                        <%= @post.name %>のデータ
                    </div>
                    <div class="row no-gutters mb-5">
                        <div class="col-xs-12 col-md-6 mt-5">
                            <div class="season-data-label mt-5 mb-5"><%= @post.name%>がよく釣れる時期</div>
                                <%= line_chart @month_data, width: "100%", height: "300px"%>
                        </div>
                        <div class="col-xs-12 col-md-6 mt-5">
                            <div class="feed-data-label mt-5 mb-5"><%= @post.name%>がよく釣れる餌</div>
                                <%= pie_chart @feed_data, width: "100%", height: "300px"%>
                         </div>
                    </div>
                    <div class="row no-gutters mb-5">
                        <div class="col-xs-12 col-md-6 mt-5">
                            <div class="season-data-label mt-5 mb-5"><%= @post.name%>のサイズ分布</div>
                                <%= line_chart @size_data, width: "100%", height: "300px"%>
                        </div>
                        <div class="col-xs-12 col-md-6 mt-5">
                            <div class="feed-data-label mt-5 mb-5"><%= @post.name%>がよく釣れる時間</div>
                                <%= column_chart @time_data, width: "100%", height: "300px"%>
                         </div>
                    </div>
                    <div class="text-center">
                        <%= link_to"/ranking/#{@post.id}/fish_size",class:"ranking-text" do %>
                        <i class="fas fa-crown"></i>この魚のランキングを見る
                        <% end %>
                    </div>
                </div>
                <div class="comment-area-title ml-5 mt-5">
                    コメント
                </div>
                 <ul class="media-list mt-4">
                    <% @comments.each do |comment| %>
                        <%= link_to "/users/#{comment.user.id}" do %>
                	        <li class="media media-comment mr-5">
                		        <div class="media-left">
                		            <%if comment.user.image.attached?%>
                                        <%= image_tag comment.user.image,class:"comment-user-img mr-2" %>
                                    <% else %>
                                        <img src="../assets/user-image.png" class="comment-user-img">
                                    <% end %>
                		        </div>
                		        <div class="media-body">
                			        <h5 class="media-heading"><%= comment.user.name %></h5>
                    			        <div class="ml-5 comment-content">
                    			            <%= comment.content %>
                    			        </div>
                			        <div class="text-right">
                                        <% if comment.user.id == current_user.id %>
                                            <%= link_to("削除", "/posts/#{@post.id}/comments/#{comment.id}",method:"delete",class:"btn-sm btn-danger") %>
                                        <% end %>
                                    </div>
                		        </div>
                	        </li>
            	        <% end %>
        	        <% end %>
        	        <div class="pagenation">
                        <%= paginate @comments%>
                    </div>
                </ul>
                <div class="comment-form">
                    <%= form_with url:"/posts/#{@post.id}/comments",method: :post,local: true do |form| %>
                        <%= form.text_field :content,class:"form-control mt-5" ,placeholder:"コメントを入力"%>
                        <div class="text-center">
                            <%= form.submit value = "コメントする",class:"btn-lg btn-info mt-5 mb-5"%>
                        </div>
                    <% end %>
                </div>
           </div>
        </div>
</div>

   














