<div class="page-title ml-4 mt-4"><%= @post.user.name %>さんの釣果</div>
<div class="row">
    <div class="col-3">
        <div class="card mt-5 ml-5" style="width: 18rem;">
            <% if @post.user.image.attached? %>
                    <%= image_tag @post.user.image, class:" post-user-img"%>
            <% else %>
                    <img src="../assets/user-image.png" class=" post-user-img">
            <% end %>
            <div class="card-body">
            <h5 class="card-title text-center card-label"><%= @post.user.name%></h5>
            <p class="card-text text-center">
                <% if @post.user.introduce? %>
                    <%= @post.user.introduce %>
                <% else %>
                    <div class="user-introduce-default text-center">
                        まだ自己紹介がありません
                    </div>
                <% end %>
            </p>
            <div class="text-right">
               <%= link_to "詳細","/users/#{@post.user.id}",class:"btn-sm btn-info" %> 
            </div>
       </div>
</div>
    </div>
    <div class="col-9">
        
    </div>
</div>













