<footer class="footer">
    <%= link_to(image_tag("fmap-site-logo.png",class:"footer-site-logo ml-3"),"/") %>
   <% if user_signed_in? %> 
       <div class="row">
            <div class="col-xs-12 col-md-2 col-md-offset-4">
                <%= link_to "/fishing.map", class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>MAP
                <% end %>
            </div>
             <div class="col-xs-12 col-md-2">
                <%= link_to posts_path, class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>すべての釣果
                <% end %>
            </div>
            <div class="col-xs-12 col-md-2">
                <%= link_to "/rule", class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>利用規約
                <% end %>
            </div>
            <div class="col-xs-12 col-md-2">
                <%= link_to "/policy", class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>プライバシーポリシー
                <% end %>
            </div>
        </div>
   <% else %>
        <div class="row">
            <div class="col-xs-12 col-md-2 col-md-offset-4">
                <%= link_to "/users/sign_up", class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>新規登録
                <% end %>
            </div>
             <div class="col-xs-12 col-md-2 col-md-offset-4">
                <%= link_to "/users/sign_in", class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>ログイン
                <% end %>
            </div>
            <div class="col-xs-12 col-md-2 col-md-offset-4">
                <%= link_to "/rule", class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>利用規約
                <% end %>
            </div>
           <div class="col-xs-12 col-md-2 col-md-offset-4">
                <%= link_to "/policy", class: "footer-link ml-5" do %>
                    <i class="fas fa-chevron-right"></i>プライバシーポリシー
                <% end %>
            </div>
        </div>
   <% end %>
    <div class="text-center web-copyright">
        Copyright © 2019-2020 Fishing Map. All Rights Reserved.
    </div>
</footer>