<footer class="footer mt-5 bg-white border-top">
    <%= link_to(image_tag("fmap-site-logo.png",class:"ml-3 mt-3",style:"width: 180px;"),"/") %>

       <div class="row text-center mb-5"> 
            <div class="col-12 col-md-2 mt-3">
                <%= link_to "/fishing.map", class: "footer-link" do %>
                    <i class="fas fa-chevron-right"></i>MAP
                <% end %>
            </div>
             <div class="col-12 col-md-2 mt-3">
                <%= link_to "/posts/new", class: "footer-link" do %>
                    <i class="fas fa-chevron-right"></i>釣果を登録する
                <% end %>
            </div>
            <div class="col-12 col-md-2 mt-3">
                <%= link_to "/rule", class: "footer-link" do %>
                    <i class="fas fa-chevron-right"></i>利用規約
                <% end %>
            </div>
            <div class="col-12 col-md-2 mt-3">
                <%= link_to "/policy", class: "footer-link" do %>
                    <i class="fas fa-chevron-right"></i>プライバシーポリシー
                <% end %>
            </div>
            <div class="col-12 col-md-2 mt-3">
                <a class="fab fa-twitter footer-link" href="https://twitter.com/map_fishing">twitter</a>
            </div>
            <div class="col-12 col-md-2 mt-3">
               <%= link_to "お問い合わせ","/contacts/new" ,class:"footer-link" %>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-3">
            <div class="mx-2">
                <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Ffishing-map.info%2F&amp;ref_src=twsrc%5Etfw&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2Ffishing-map.info%2F" class="btn" id="b"><i></i><span class="font-weight-bold" style="font-size: 0.8rem; color: #1DA1F2;"><i class="fab fa-twitter"></i>Twitterにシェア</span></a>
            </div>
             <div class="mx-2">
                 <a id="follow-button" class="btn" title="Twitterで@map_fishingさんをフォローしましょう" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ffishing-map.info%2F&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=map_fishing&amp;tw_p=followbutton"><i></i><span class="font-weight-bold" style="font-size: 0.8rem; color: #1DA1F2;"><i class="fab fa-twitter"></i>フォローする</span></a>
            </div>
        </div>

    <div class="text-center text-secondary pb-3">
        Copyright © 2019-2020 Fishing Map.All Rights Reserved.
    </div>
</footer>

