<nav class="navbar navbar-expand-lg navbar-light">
  <%=link_to(image_tag("fmap-site-logo.png",class:"fmap-site-logo navbar-brand"),"/")%>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <% if user_signed_in? %> 
            <li class="nav-item"> 
                <%= link_to"データを作成","/fish/new",class:"nav-link"%>
            </li>
            <li class="nav-item"> 
                <%= link_to"/fishing.map",class:"nav-link" do %>
                    <i class="fas fa-map-marked-alt"></i>地図で釣果を見る
                <% end %>
            </li> 
            <li class="nav-item"> 
                <%= link_to"すべての釣果" ,posts_path,class:"nav-link"%>
            </li>  
            <li class="nav-item"> 
                <%= link_to "釣り人一覧", "/users",class:"nav-link" %>
            </li>  
            <li class="nav-item"> 
                <%= link_to "釣果を登録する", new_post_path,class:"nav-link" %>
            </li>
            <li class="nav-item"> 
                <% if @current_user.image.attached? %>
                    <div class="nav-item"><%= link_to(image_tag(@current_user.image,class:"nav-link-img img-fluid "),"/users/#{current_user.id}")%></div>
                <% else %>
                    <img src="/assets/user-image.png" class="nav-link-img">
                <% end %>
            </li> 
            <li class="nav-item">
                <%= link_to "マイページ", "/users/#{current_user.id}", class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%=link_to"/notifications" do %>
                    <div class="notifications-bell nav-link">
                        <i class="fas fa-bell"></i>
                        <% if unchecked_notifications.any? %>
                            <div class="n-circle"><%= @notifications.count %></div>
                        <% end %>
                    </div>
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to "ログアウト","/users/sign_out", class: "nav-link",method: :"delete"  %>
            </li>
            <% else %> 
            <li class="nav-item">
                <%= link_to "新規登録", "/users/sign_up", class: "nav-link nav-link-signup" %>
            </li>
            <li class="nav-item">
                <%= link_to "ログイン","/users/sign_in", class: "nav-link nav-link-login"%>
            </li>
        <% end %>
    </ul>
  </div>
</nav>