 <nav class="navbar navbar-expand">
      <%=link_to(image_tag("fmap-site-logo.png",class:"fmap-site-logo ml-3"),"/")%>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %> 
            <li class="nav-item"> 
              <%= link_to"/fishing.map",class:"nav-link" do %>
                  <i class="fas fa-map-marked-alt"></i>Fishing Map
              <% end %>
            </li> 
            <li class="nav-item"> 
              <%= link_to posts_path,class:"nav-link" do %>
                  すべての釣果
              <% end %>
            </li>  
            <li class="nav-item"> 
                <%= link_to "釣り人一覧", "/users",class:"nav-link" %>
            </li>  
            <li class="nav-item"> 
                <%= link_to "釣果を登録する", new_post_path,class:"nav-link" %>
            </li>
            <li class="nav-item"> 
                <% if @current_user.image.attached? %>
                    <div class="nav-item"><%= link_to(image_tag(@current_user.image,class:"nav-link-img"),"/users/#{current_user.id}")%></div>
                <% else %>
                    <img src="/assets/user-image.png" class="nav-link-img">
                <% end %>
            </li> 
            <li class="nav-item">
                <%= link_to "マイページ", "/users/#{current_user.id}", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "/notifications", class:"nav-link"  do%>
                  <div class="notifications-bell">
                      <i class="fas fa-bell"></i>
                      <% if unchecked_notifications.any? %>
                          <div class="n-circle"><%= @notifications.count %></div>
                      <% end %>
                  </div>
              <% end %>
            </li>
            <li class="nav-item">
                <%= link_to "ログアウト","/users/sign_out", class: "nav-link",method: :"delete"  %>
            </li>
        <% else %> 
            <li class="nav-item">
                <%= link_to "新規登録", "/users/sign_up", class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "ログイン","/users/sign_in", class: "nav-link nav-link-login pl-4 pr-4 ml-3"%>
            </li>
        <% end %>
      </ul>
    </nav>
    