<!DOCTYPE html>
<html>
  <head>
    <title>Fmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=<%=ENV['KEY'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>
  <body>

    <div id="showloading">
        <div class="loading-wrapper">
            <img src="/assets/fmap-site-logo.png" alt="loading" class="loading-img">
            <img src="/assets/loading_dot.gif" alt="loading" class="loading-dot">
        </div>
    </div>
    
    <div id="contents" class="hidden">
        
        <div class="text-center">
            <% flash.each do |name, msg|%>
             <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            <%end%> 
        </div>
        
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        
    </div>
    
  </body>
</html>
