<div class="text-center mt-5 mb-5">
  <div class="form-wrapper pt-5 pb-5">  
    <h4 class="form-title mb-3">アカウント編集</h4>
    
    <%= form_with(model: @user,url:"/users/profile/edit",local: true ,method: :post) do |form| %>
     <%= render "users/shared/error_messages", resource: resource %>
     
        <img src="" class="img-preview">
        <% if @user.image.attached? %>
            <div class="form-text">現在の画像</div>
            <%= image_tag @user.image,class:"img-preview" %>
        <% end %>
        
        <div class="field form-group" onchange="previewFile()">
            <div class="form-text mb-3">プロフィール画像を選択</div><br />
            <%= form.file_field :image ,class:"image ",id:"file"%>
        </div>
    
        <div class="field form-group">
           <%= form.label :"ユーザー名" ,class:"form-text"%><br />
           <%= form.text_field :name %>
        </div>
        
        <div class="field form-group">
           <%= form.label :"メールアドレス" ,class:"form-text"%><br />
           <%= form.text_field :email %>
        </div>
        
        <div class="field form-group">
           <%= form.label :"自己紹介" ,class:"form-text"%><br />
           <%= form.text_field :introduce %>
        </div>
        
        <div class="actions">
            <%= form.submit "編集する" ,class:"btn btn-info mb-4"%>
        </div>
    <% end %>
  </div>    
</div>    
